.head{
    margin-left: 17%;
    margin-top: 5%;
}
.head a{
    text-decoration: none;
    margin-right: 5%;
    font-weight: bold;
    font-size: xx-large;
    color: black;

}
.box{
    border: 2px solid black;
    margin-top: 1%;
    margin-left: 17%;
    margin-right: 16%;
    padding-top: 3px;
    padding-left: 25%;
}
.center{
     text-decoration: underline;
    font-size: 300%;
    color: brown;
    
}
.paragraph{
    padding-left: 40%;
    padding-right: 20%;
}
.under{
    
    font-size:larger;
}

}